/* =============================================================================
   Header
========================================================================== */

header {
	background:$color-black;
	color:$color-white;
	left:0;
	padding:.5em 0;
	position: fixed;
	text-align: center;
	top:0;
	width:100%;
	z-index:101;
}

body {
	padding: 2.5em 1em;
}

.main {
	margin:0 auto;
	max-width:38em;
}