/* =============================================================================
   Loading
========================================================================== */

/* ==|== Loading =================
   Layouts
====================================== */

.loading {
	//background:rgba($color-fueled-black, 0.2);
	height:100%;
	left:0;
	position: fixed;
	top:0;
	visibility: hidden;
	width:100%;
	z-index:100;
}

.loading__element {
	//background:lighten($color-black, 5%);
	background:#ae0000;
	left:50%;
	margin:-7.5% 0 0 -7.5%;
	padding-top: 15%;
	position: fixed;
	top:50%;
	transform:rotate(45deg) scale(0);
	transition: all .35s cubic-bezier(#{$bezier-nice});
	width:15%;
}

@include aspect-ratio(8, 10) {
	.loading__element {
		padding-top: 30%;
		width:30%;
	}
}

.loading__text {
	color:$color-white;
	display: block;
	font-size:14px;
	font-weight: bold;
	line-height:1;
	margin-top: -56px;
	left:0;
	letter-spacing:.4em;
	opacity:0;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top:50%;
	transition: all .35s cubic-bezier(#{$bezier-nice});
	transform: scale(0);
	width:100%;

	img {
		height: 112px;
		width:112px;
	}
}

/* ==|== Loading =================
   Load In Animations
====================================== */

@keyframes loaderBack {
	0% {
		transform:rotateX(0deg) rotateY(0) rotateZ(0) translateX(-27px);

	}

	100% {
		transform:rotateX(0deg) rotateY(0deg) rotateZ(0deg) translateX(27px);
	}
}

.show-loading  {

	.loading {
		visibility: visible;
	}

	.loading__element {
		transform:rotate(45deg) scale(12);
	}

	.loading__text {
		opacity:1;
		transform:scale(4);
	}
}

/* ==|== Loading =================
   Load out Animations
====================================== */

.hide-loading {

	.loading__element {
		transform:rotate(45deg) scale(0);
	}

	.loading__text {
		opacity:0;
		transform:scale(0);
	}
}